body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bffdff;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #dbfaff;
    border-radius: 8px;
    
}
h1 {
    color: #333;
    text-align: center;
}
p {
    color: #555;
    line-height: 1.6;
}
.image-container {
    text-align: center;
    margin-top: 20px;
}
img {
    max-width: 100%;
    height: auto;
}